/*start variable*/
:root{
    --color-white: #fff;
    --time-transition: 0.5s;
}
/*End variable*/
/*Start Global*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}
/*End Global*/
/*Start Article*/
article{
    position: relative;
}
article .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(50%,1fr));
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
}
article .container .col:nth-child(1){
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
article .container .col:nth-child(1) .text{
    transform: translateY(-200px);
    padding: 10px;
    text-align: center;
}
article .container .col:nth-child(1) .text h1{
    text-transform: capitalize;
    color: var(--color-white);
}
article .container .col:nth-child(1) .text p{
    line-height: 1.6;
    color: var(--color-white);
}
article .container .col:nth-child(1) .btn{
    display: flex;
    flex-direction: column;
}
article .container .col:nth-child(1) .btn a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--color-white);
    font-weight: bold;
    font-size: 20px;
    transition: var(--time-transition);
}
article .container .col:nth-child(1) .btn a:hover{
    color: #97D9E1;
    background-color: var(--color-white);
    transition: var(--time-transition);
}
article .container .col:nth-child(1) .btn a:first-child{
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    width: 100px;
    height: 50px;
}
article .container .col:nth-child(1) .btn a:last-child{
    margin-top: 20px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    bottom: 40%;
    width: 100px;
    height: 50px;
}
/**************** Column Tow ******************/

article .container .col:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: var(--time-transition);
}
article .container .col:nth-child(2) form{
    height: 450px;
    padding: 0 50px;
    box-shadow: 1px 1px 15px rgba( 0 0 0 /30%);
    border-radius: 10px;
}
article .container .col:nth-child(2) .register{
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: var(--time-transition);
}
article .container .col:nth-child(2) form h2{
    text-align: center;
    color: #97D9E1;
}
article .container .col:nth-child(2) form .inputBox{
    margin: 20px 0;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
article .container .col:nth-child(2) form .inputBox ion-icon{
    color: #97D9E1;
    padding-right: 8px;
    font-size: 25px;
}
article .container .col:nth-child(2) form .inputBox input{
    height: 40px;
    padding-left: 5px;
    outline: none;
    border:none;
    width: 100%;
    border-bottom: 1px solid rgba( 0 0 0 /20%);
}
article .container .col:nth-child(2) form .inputBox input + div{
    color: red;
    position: absolute;
    right: -45px;
    font-size: 12px;
}
article .container .col:nth-child(2) form .inputBox input + .sub{
    position: absolute;
    bottom: -30px;
    left: 0px;

}
article .container .col:nth-child(2) form .inputBox input::placeholder{
    color: #97D9E1;
    font-size: 14px;
}
article .container .col:nth-child(2) form .inputBox input[type="submit"]{
    border: none;
    outline: none;
    cursor: pointer;
    background-image: linear-gradient(90deg, #D9AFD9 0%, #97D9E1 100%);
    border-radius: 50px;
    width: 100px;
    color: var(--color-white);
    font-weight: bold;
    background-size: 100%;
    position: relative;
    transition: var(--time-transition);
}
article .container .col:nth-child(2) form .inputBox input[type="submit"]:hover{
    background-position: right;
    background-size: 200%;
}

article .container .col:nth-child(2) .login{
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: var(--time-transition);
}
article .container .col:nth-child(2) .login.active{
    display: flex;
    transition: var(--time-transition);
}
article .container .col:nth-child(2) .register.active{
    display: flex;
    transition: var(--time-transition);
}


@media (max-width:768px) {
    article .container{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(100%,1fr));
        grid-gap:30px;
    }
    article .container .col:nth-child(1){
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    article .container .col:nth-child(1) .text{
        transform: translateY(0px);
        padding: 20px;
        text-align: center;
    }
    article .container .col:nth-child(1) .btn{
        display: flex;
        flex-direction: row;
        margin-top: 100px;
    }
    article .container .col:nth-child(1) .btn a:first-child{
        border-radius: 20px 20px 0 0;
        width: 100px;
        height: 50px;
    }
    article .container .col:nth-child(1) .btn a:last-child{
        margin-top: 0px;
        border-radius: 20px 20px 0 0;
        bottom: 40%;
        width: 100px;
        height: 50px;
    }
    
} 