* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
}
:root {
    --main-color: #0075ff;
    --light-grey-color: #eee;
    --redius: 4px;
}
body {
    font-family: 'Cairo', sans-serif;
}
/************ Start Container **************/
.quiz-app {
    background-color: var(--light-grey-color);
    padding: 15px;
    margin: 30px;
}
/* Start Header */
.quiz-app .quiz-info {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    text-transform: capitalize;
    border-radius: var(--redius);
    font-weight: bold;
}
.quiz-app .quiz-info span {
    color: var(--main-color);
}

/* End Header */
/* Start  Question Area*/
.quiz-app .question-area {
    background-color: #fff;
    padding: 10px;
    text-transform: capitalize;
    font-weight: bold;
    margin-top: 20px;
    font-size: 20px;
}
/* End  Question Area*/
/* Start  Answer Area*/
.quiz-app .answer-area {
    background-color: #fff;
    padding: 15px;
}

.quiz-app .answer-area .answer {
    background-color: #c2c2c22b;
    min-height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.quiz-app .answer-area .answer:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.quiz-app .answer-area .answer input[type="radio"] {
    cursor: pointer;
}
/* if click on the label */
.quiz-app .answer-area .answer input[type="radio"]:checked + label{
    color: var(--main-color);
    font-weight: bold;
}
.quiz-app .answer-area .answer label {
    margin-left: 10px;
    cursor: pointer;
    user-select: none;
    word-wrap: break-word;
    line-height: 1.3;
}
.quiz-app .answer-area .answer label.active{
    color: var(--main-color);
}
/* End  Answer Area*/
/* Start  submit*/
.quiz-app .submit {
    width: 100%;
    margin-top: 10px;
    background-color: var(--main-color);
    border: none;
    outline: none;
    padding: 15px;
    color: #fff;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: var(--redius);
    transition: 0.3s;
}
.quiz-app .submit:hover {
    background-color: #035fc9;
    transition: 0.3s;
}
/* End  submit*/
/*-----Start Bullets-----*/
.quiz-app .bullets {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    margin-top: 10px;
    padding: 15px;
    border-bottom:3px solid var(--main-color);
}

/* Start Points */
.quiz-app .bullets .points {
    display: flex;
    list-style: none;
}

.quiz-app .bullets .points li {
    width: 20px;
    height: 20px;
    background-color: var(--light-grey-color);
    margin: 0 3px;
    border-radius: 50px;
}
.quiz-app .bullets .points li.active{
    background-color: var(--main-color);
}
/* End Points */
/* Start Results */
.quiz-app .results span{
   color: #fff;
   font-weight: bold;
    padding: 0 5px;
    margin-top: 10px;
    text-transform: capitalize;
    border-radius: var(--redius);
}
.quiz-app .results .bad{
    background-color: red;
}
.quiz-app .results .good{
    background-color: orange;
}
.quiz-app .results .perfect{
    background-color: green;
}

/* End Results */
/* Start Now Quesion */
.quiz-app .now-question{
    margin-top: 10px;
    font-weight: bold;
    padding: 0 5px;
    text-transform: capitalize;
    border-radius: var(--redius);
}
.quiz-app .now-question .question-number{
    color: var(--main-color);
    padding: 2px;
}
/* End Now Quesion */


/*------End Bullets -------*/

/************ End Container **************/